node_modules
/tmp
/data
/browser/country/4
/browser/country/6
/browser/country/*.idx
/browser/country-extra/4
/browser/country-extra/6
/browser/country-extra/*.idx
/browser/geocode/4
/browser/geocode/6
/browser/geocode/*.idx
/browser/geocode-extra/4
/browser/geocode-extra/6
/browser/geocode-extra/*.idx
