name: Auto database update browser-geocode
on:
  schedule:
    - cron: '2 0 1,2,3 * *'
  workflow_dispatch:
permissions:
  contents: write
  id-token: write
jobs:
  release:
    name: Auto database update browser-geocode
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'
      - name: install dependencies
        run: npm i
      - name: update
        run: npm run updatedb-browser-geocode
      - name: test
        run: npm run test
      - name: commit
        run: script/auto-update-geocode.sh
      - name: push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{secrets.GTOKEN}}
